{% extends layout %}
{% block content %}
<div class="container mt-5" style="max-width: 500px;">
    <h3>Thêm nhân viên</h3>
    <form method="POST">
        <div class="mb-3">
            <label for="username">Tên đăng nhập</label>
            <input type="text" name="username" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="password">Mật khẩu</label>
            <input type="password" name="password" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="role">Phân quyền</label>
            <select name="role" class="form-control">
                <option value="employee">employee</option>
                <option value="admin">admin</option>
                <option value="manager">manager</option>
            </select>
        </div>
        <button type="submit" class="btn btn-success">Lưu</button>
    </form>
</div>
{% endblock %}
