{% extends layout %}
{% block content %}
<div class="container mt-5" style="max-width: 500px;">
    <h3>Cập nhật nhân viên</h3>
    <form method="POST">
        <div class="mb-3">
            <label for="username">Tên đăng nhập</label>
            <input type="text" name="username" value="{{ user.username }}" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="password">Mật khẩu mới (nếu đổi)</label>
            <input type="password" name="password" class="form-control">
        </div>
        <div class="mb-3">
            <label for="role">Phân quyền</label>
            <select name="role" class="form-control">
                <option value="employee" {% if user.role =='employee' %}selected{% endif %}>employee</option>
                <option value="admin" {% if user.role == 'admin' %}selected{% endif %}>admin</option>
                <option value="admin" {% if user.role == 'manager' %}selected{% endif %}>manager</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Cập nhật</button>
    </form>
</div>
{% endblock %}
